* {
  background-color: black;
  height: 100vh;
  color: white;
}


:root{
  --grid-cols:1;
  --grid-rows:1;
  
}

button {
  height: 4em;
  width: 10em;
}

  #concon {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
  }


    #container {
      display:grid;
      width: 30%;
      height: 60%;
      grid-template-rows: repeat(var(--grid-rows),1fr);
      grid-template-columns: repeat(var(--grid-cols), 1fr);  
      background: white;
      border: 1px solid black;
     
  }
  

  .grid-item {
    border: 1px solid #ddd;
    text-align: center;
    height: 40%;
    width: 40%;
    margin: auto;
    padding: 3%;
    background-color:#FFFFFF;
  }


